### Chloropleth maps

#### TODO:
- spatial join some stuff together? Once all set up as markers
- convert the ookla polygons to markers based centroid
- convert the cira data to shapely? format
- count up the number of test that fall within each boundary

#### Questions
- how to handle area intersections

In [1]:
ls ../data

mlab/  Municipal_Boundaries_SHP_Geographic/  ookla/  stats_can/

In [2]:
import geopandas as gpd
import pandas as pd
from pathlib import Path

### Boundary Data

In [3]:
file_path = Path("../data/Municipal_Boundaries_SHP_Geographic/")

In [4]:
city_df = gpd.read_file(file_path/"CITY.shp")
hamlet_df = gpd.read_file(file_path/"HAMLETPT.shp")
indian_df = gpd.read_file(file_path/"INDIAN.shp")
octext_df = gpd.read_file(file_path/"OCTEXT.shp")

rural_df = gpd.read_file(file_path/"RURAL.shp")
svillage_df = gpd.read_file(file_path/"SVILLAGE.shp")
town_df = gpd.read_file(file_path/"TOWN.shp")
urbserv_df = gpd.read_file(file_path/"urbserv.shp")
village_df = gpd.read_file(file_path/"VILLAGE.shp")

In [5]:
print(city_df.crs, rural_df.crs)

epsg:4269 epsg:4269

### Internet Data

In [8]:
ookla_gdf = gpd.read_file("../data/ookla/AB_ookla_data_2020.shp")

In [9]:
ookla_gdf.head()

,quadkey,avg_d_kbps,avg_u_kbps,avg_lat_ms,tests,devices,quarter,conn_type,geometry
0,0212113033010133,807,273,84,1,1,Q1,fixed,"POLYGON ((-114.13147 53.53051, -114.12598 53.5..."
1,0212113123020220,82062,11294,19,34,4,Q1,fixed,"POLYGON ((-113.55469 53.46843, -113.54919 53.4..."
2,0212131212333013,9741,1382,24,7,2,Q1,fixed,"POLYGON ((-114.28528 51.20344, -114.27979 51.2..."
3,0213002023012223,81989,39432,13,56,7,Q1,fixed,"POLYGON ((-112.05505 53.49131, -112.04956 53.4..."
4,0212113301112020,4405,2300,37,3,1,Q1,fixed,"POLYGON ((-113.29102 53.29806, -113.28552 53.2..."

#### Get the Centroid of Ookla polygons
- apparently i need to project to a crs where the centroid will be in accurate? Centroid calculation seems to rely on distance, so a projection that preserves distance **(Azimuthal Equidistant projection)?**
1. Change project?
2. Do calculation?

In [11]:
ookla_gdf.head()

,quadkey,avg_d_kbps,avg_u_kbps,avg_lat_ms,tests,devices,quarter,conn_type,geometry
0,0212113033010133,807,273,84,1,1,Q1,fixed,"POLYGON ((-114.13147 53.53051, -114.12598 53.5..."
1,0212113123020220,82062,11294,19,34,4,Q1,fixed,"POLYGON ((-113.55469 53.46843, -113.54919 53.4..."
2,0212131212333013,9741,1382,24,7,2,Q1,fixed,"POLYGON ((-114.28528 51.20344, -114.27979 51.2..."
3,0213002023012223,81989,39432,13,56,7,Q1,fixed,"POLYGON ((-112.05505 53.49131, -112.04956 53.4..."
4,0212113301112020,4405,2300,37,3,1,Q1,fixed,"POLYGON ((-113.29102 53.29806, -113.28552 53.2..."

In [12]:
print(ookla_gdf.crs)

epsg:4326

In [14]:
ookla_gdf.geometry.crs

<Geographic 2D CRS: EPSG:4326>
Name: WGS 84
Axis Info [ellipsoidal]:
- Lat[north]: Geodetic latitude (degree)
- Lon[east]: Geodetic longitude (degree)
Area of Use:
- name: World
- bounds: (-180.0, -90.0, 180.0, 90.0)
Datum: World Geodetic System 1984
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

In [15]:
ookla_gdf["long"] = ookla_gdf.geometry.apply(lambda x:x.centroid.x)

In [16]:
ookla_gdf["lat"] = ookla_gdf.geometry.apply(lambda x:x.centroid.y)

In [17]:
ookla_gdf.head(3)

,quadkey,avg_d_kbps,avg_u_kbps,avg_lat_ms,tests,devices,quarter,conn_type,geometry,long,lat
0,0212113033010133,807,273,84,1,1,Q1,fixed,"POLYGON ((-114.13147 53.53051, -114.12598 53.5...",-114.128723,53.528881
1,0212113123020220,82062,11294,19,34,4,Q1,fixed,"POLYGON ((-113.55469 53.46843, -113.54919 53.4...",-113.551941,53.466796
2,0212131212333013,9741,1382,24,7,2,Q1,fixed,"POLYGON ((-114.28528 51.20344, -114.27979 51.2...",-114.282532,51.201721

In [ ]:
main_bound_df = pd.concat([rural_df, city_df])

In [ ]:
main_bound_df.head()

In [ ]:
city_df.head()

In [ ]:
rural_df.head()

### Intersections

In [ ]:
size=(24, 30)
lwidth=0.5

In [ ]:
# sliced out rural alberta

ax = rural_df.plot(figsize=size, linewidth=lwidth, color="lightblue", edgecolor="black")
#city_df.plot(figsize=size, linewidth=lwidth, color="blue", edgecolor="black", ax=ax)

### Counting Tests
- How to count up the markers that fall within a certain polygon
- Just try counting up the markers for rural_df first